POSTGRES_DB=serveforyou_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

JWT_SECRET=change_me_super_secret_key
JWT_ISSUER=ServeForYou
JWT_AUDIENCE=ServeForYouUsers

BACKEND_PORT=8080
FRONTEND_PORT=3000
